.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    text-align: center;
  }
.paperFooter{
    width: 100%;
    height: 110px;  
    border-top-style: ridge;
    border-top-color:#bf8e3a;
    display: flex;
    justify-content:space-between;
    align-items: center; 
}
.logoFooter{
    margin-left: 15px;
    height: 65px;
}